.titulo{
    font-size: 40px;
    text-decoration: underline;
    color: black;
    background-color: transparent;
    width: 200px
}

.titulo2{
    font-size: 30px;
    text-decoration: underline;
    color: black;
    background-color: transparent;
    width: 200px
}

.titulo3{
    font-size: 30px;
    text-decoration: underline;
    color: black;
    background-color: transparent;
}

.textos{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.textos2{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    height: 400px;
    overflow: auto;

}

.imagenesyvideos{
    padding: 1em;

}

.videos{
    margin: 2%;
    border: solid 5px rgb(161, 140, 210);
}

.pie{
    list-style-type: none;
    margin: 2%;
}
.listas{
    list-style-type: none;
}

.titulosinteriores{
    margin: 2px;
    font-size: medium;
}

.lista1{
    font-size: larger;
}

.lista2{
    padding: 6em;
}